<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/APIEcomm/src/test/java/org/example">
        <classes>
            <class name="org.example.PUT.BookingUpdate">
                <methods>
                    <include name="test_put_positive_tc"/>
                </methods>
            </class>
            <class name="org.example.PUT.BookingUpdate_1">
                <methods>
                    <include name="test_put_positive_tc"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>